USE [master]
GO
/****** Object:  Database [Cegamex]    Script Date: 01/05/2021 05:47:52 p. m. ******/
CREATE DATABASE [Cegamex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cegamex', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Cegamex.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cegamex_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Cegamex_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cegamex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cegamex]
GO
/****** Object:  Table [dbo].[adm]    Script Date: 01/05/2021 05:47:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adm](
	[idAdmin] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 01/05/2021 05:47:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[idEmpleado] [nvarchar](255) NOT NULL,
	[nombre] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[issues]    Script Date: 01/05/2021 05:47:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[issues](
	[idIssue] [float] NOT NULL,
	[tipo] [nvarchar](255) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[idCreador] [nvarchar](255) NULL,
	[idLider] [nvarchar](255) NULL,
	[idReporter] [nvarchar](255) NULL,
	[estado] [nvarchar](255) NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idIssue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jugadores]    Script Date: 01/05/2021 05:47:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jugadores](
	[idPlayer] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
	[puntaje] [int] NULL,
	[rol] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPlayer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logros]    Script Date: 01/05/2021 05:47:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logros](
	[idLogro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idLogro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registroLogros]    Script Date: 01/05/2021 05:47:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registroLogros](
	[idRegistro] [int] IDENTITY(1,1) NOT NULL,
	[idLogro] [int] NULL,
	[idPlayer] [int] NULL,
	[fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subtareas]    Script Date: 01/05/2021 05:47:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subtareas](
	[idSubtarea] [float] NOT NULL,
	[idIssue] [float] NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[idCreador] [nvarchar](255) NULL,
	[idLider] [nvarchar](255) NULL,
	[idReporter] [nvarchar](255) NULL,
	[estado] [nvarchar](255) NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSubtarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 01/05/2021 05:47:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[apellido] [nvarchar](255) NOT NULL,
	[userName] [nvarchar](255) NOT NULL,
	[correo] [nvarchar](255) NOT NULL,
	[pass] [nvarchar](255) NOT NULL,
	[adm] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[empleados] ([idEmpleado], [nombre]) VALUES (N'557058:0333b528-3a31-46d3-a72c-60df3c1c7d3e', N'Hector Fonseca')
INSERT [dbo].[empleados] ([idEmpleado], [nombre]) VALUES (N'557058:0444128a-ce7b-46a2-a3b9-38756c97566f', N'Warren Jason RomÃ¡n HernÃ¡ndez')
INSERT [dbo].[empleados] ([idEmpleado], [nombre]) VALUES (N'557058:0ba67563-9f07-4e93-8a7e-cc298832abf2', N'Iris Fabiola Martinez Fraustro')
GO
INSERT [dbo].[issues] ([idIssue], [tipo], [nombre], [idCreador], [idLider], [idReporter], [estado], [fecha_inicio], [fecha_fin]) VALUES (274732, N'Bug', N'PROD FR DS5 - Reset password for new users not working', N'5c792c3d7dae4b653384b4f8', N'5a58ecd0d436f36775f7d965', N'5c792c3d7dae4b653384b4f8', N'Closed', CAST(N'2020-01-24T03:10:00.000' AS DateTime), CAST(N'2021-03-26T10:24:00.000' AS DateTime))
INSERT [dbo].[issues] ([idIssue], [tipo], [nombre], [idCreador], [idLider], [idReporter], [estado], [fecha_inicio], [fecha_fin]) VALUES (277125, N'Story', N'[WS-USA] Weighmaster Certificate (Configurable)', N'557058:f421c4fa-f6b9-4860-8ada-217f12fec70b', N'5f6141973242e8006f52a064', N'5bb39fbc9ba2930990f80f66', N'Closed', CAST(N'2020-02-14T13:39:00.000' AS DateTime), CAST(N'2021-03-26T10:24:00.000' AS DateTime))
INSERT [dbo].[issues] ([idIssue], [tipo], [nombre], [idCreador], [idLider], [idReporter], [estado], [fecha_inicio], [fecha_fin]) VALUES (277133, N'Story', N'[WS-USA] AB219 Driver Signature Capture - Backend', N'557058:f421c4fa-f6b9-4860-8ada-217f12fec70b', N'5f6141973242e8006f52a064', N'5bb39fbc9ba2930990f80f66', N'Closed', CAST(N'2020-02-14T14:26:00.000' AS DateTime), CAST(N'2021-03-25T08:02:00.000' AS DateTime))
GO
INSERT [dbo].[subtareas] ([idSubtarea], [idIssue], [nombre], [idCreador], [idLider], [idReporter], [estado], [fecha_inicio], [fecha_fin]) VALUES (283948, 278843, N'Design - Share View delivery Ticket ', N'557058:89567ae1-5c03-4875-89c5-1c4818e5c211', N'5f6141973242e8006f52a064', N'557058:89567ae1-5c03-4875-89c5-1c4818e5c211', N'Done', CAST(N'2020-04-08T16:03:00.000' AS DateTime), CAST(N'2021-03-26T10:26:00.000' AS DateTime))
INSERT [dbo].[subtareas] ([idSubtarea], [idIssue], [nombre], [idCreador], [idLider], [idReporter], [estado], [fecha_inicio], [fecha_fin]) VALUES (289574, 278843, N'Testing', N'557058:89567ae1-5c03-4875-89c5-1c4818e5c211', N'5f6141973242e8006f52a064', N'5f6141973242e8006f52a064', N'Done', CAST(N'2020-06-09T16:42:00.000' AS DateTime), CAST(N'2021-03-26T10:26:00.000' AS DateTime))
INSERT [dbo].[subtareas] ([idSubtarea], [idIssue], [nombre], [idCreador], [idLider], [idReporter], [estado], [fecha_inicio], [fecha_fin]) VALUES (289575, 278843, N'[Net] Create flow, share delivery ticket', N'557058:ee56d815-de32-411d-8c6a-8729d974ec34', N'5f6141973242e8006f52a064', N'557058:ee56d815-de32-411d-8c6a-8729d974ec34', N'Done', CAST(N'2020-06-09T16:44:00.000' AS DateTime), CAST(N'2021-03-26T10:26:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[adm]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[usuarios] ([idUser])
GO
ALTER TABLE [dbo].[issues]  WITH CHECK ADD FOREIGN KEY([idCreador])
REFERENCES [dbo].[empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[issues]  WITH CHECK ADD FOREIGN KEY([idLider])
REFERENCES [dbo].[empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[issues]  WITH CHECK ADD FOREIGN KEY([idReporter])
REFERENCES [dbo].[empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[jugadores]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[usuarios] ([idUser])
GO
ALTER TABLE [dbo].[registroLogros]  WITH CHECK ADD FOREIGN KEY([idLogro])
REFERENCES [dbo].[logros] ([idLogro])
GO
ALTER TABLE [dbo].[registroLogros]  WITH CHECK ADD FOREIGN KEY([idPlayer])
REFERENCES [dbo].[jugadores] ([idPlayer])
GO
ALTER TABLE [dbo].[subtareas]  WITH CHECK ADD FOREIGN KEY([idCreador])
REFERENCES [dbo].[empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[subtareas]  WITH CHECK ADD FOREIGN KEY([idIssue])
REFERENCES [dbo].[issues] ([idIssue])
GO
ALTER TABLE [dbo].[subtareas]  WITH CHECK ADD FOREIGN KEY([idLider])
REFERENCES [dbo].[empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[subtareas]  WITH CHECK ADD FOREIGN KEY([idReporter])
REFERENCES [dbo].[empleados] ([idEmpleado])
GO
USE [master]
GO
