a:link, a:visited, a:active {
    text-decoration:none;
    color:black;
}

#body-general{
    background-color: #e2e9f1;
}

#body-inicio {
    background: rgb(15,55,107);
    background: linear-gradient(180deg, rgba(15,55,107,1) 4%, rgba(41,127,186,1) 94%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-gen {
    padding-right:0;
    padding-left:0;
    margin-right:0;
    margin-left:0;
}

.navbar-custom {
    background-color:#011C5D;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}

.navbar{
    padding-left: 0.625em;
    padding-right: 0.625em;
}

#resumen-perfil{
    background-color: #ffffff;
}

#contenido-perfil{
    background-color: #ffffff; 
}

#cegamex-titulo{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

.titulo{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.875em;
}

.titulo-medio{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.56em;
}

.texto-normal {
    font-family: 'Lato', sans-serif;
    font-size:1.125em;
}

.texto-normal-mediano{
    font-family: 'Lato', sans-serif;
    font-size:0.95em;
}

.texto-normal-mediano-login{
    font-family: 'Lato', sans-serif;
    font-size:0.85em;
}

.texto-normal-pequeno{
    font-family: 'Lato', sans-serif;
    font-size:0.75em;
}
@media (min-width: 1000px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto;
        visibility: visible;
    }
}

.trofeo {
    width: 3.125em; 
    height: 4.375em;
}

.perfil-amigo {
    width: 3.125em; 
    height: 3.125em;
}

.menu-sidebar{
    text-align:center
}

#btn-inicio-sesion {
    color: #ffffff; 
    background-color:#297fba;
}

/*  En versión móvil se reordenan estos elementos de la barra de navegación y cambian algunas propiedades 
    De esta manera, el ícono de notificaciones permanece en su lugar y su contenedor se hace más ancho para que el espacio
    respecto al cual se centra el botón de tres líneas, sea el adecuado*/
@media (max-width: 1000px) {
    .navbar {
       display: flex;
       flex-direction: row;
       }
       #navbarNav { order: 2; }
       #notificaciones-perfil { 
           order: 1;
           width: 3.7em;;
        }
        #ul-not-perfil {
            display: flex;
            float: right;
            padding: 0;
        }
        #campana {
            padding: 0%;
        }
   }
   
.sidebar-divider{
    margin: 0;
    border-top: 1px solid #8bc4eb;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

.numero-alertas {
    width: 1em;
    height: 1em; 
    background-color: #ea3c41;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 40%;
    visibility: hidden;
}

#btn-registrar {
    color: #ffffff; 
    background-color:#297fba;
}

#ir-registrar {
    color: blue;
}

.numero-alertas-texto {
    font-size: 70%; 
    color: #ffffff;    
}

.icono-menus-navbar {
    font-size:2em;    
}
.input-invalido {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.4) !important;
    border-color: red !important;
}

/*---------------------------INICIO DE PAGINA DE INIIO---------------------------*/
/* CONTENIDO */

/* LISTA DE JUEGOS */

#lista-juegos{
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 40px;
}

#cd_lista-juegos{
  background: rgb(226,233,241);
  margin-right: 10px;
}

#img_cd_lista-juego{
  width: auto;
  height: auto;
}

/*-------------FOOTER-------------*/
.footer-basic {
  padding: 40px 0;
  background-color: #011C5D;
  color: #ffffff;
  margin: 40px 0px 0px;

}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  color: #ffffff;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

/*-----------------------FIN PAGINA INICIO------------------ */

.loading {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #d6dce2;
    background-image: linear-gradient(90deg , #d6dce2 0%, #e3e8ec9a 20%, #d6dce2 40%, #d6dce2 100%);
    border: none;
    background-size: 70em;
    background-repeat: no-repeat;
}

.loading2 {
    background: #d6dce2;
    border: none;
}

  @keyframes placeHolderShimmer {
    0% {
      background-position: -45em 0em
    }
    100% {
      background-position: 45em 0em
    }
  }

.loading-child {
    visibility: hidden !important;    
}

.show {
    padding-right: 0.8em !important;
}